{
    "extends": "airbnb-base",
    "parser": "@typescript-eslint/parser",
    "plugins": [ "import", "@typescript-eslint" ],
    "settings": {
      "import/resolver": {
        "node": {
          "paths": ["packages"],
          "extensions": [".js", ".json", ".ts"]
        }
      }
    },
    "rules": {
        "no-bitwise": 0,
        "linebreak-style": 1,
        "no-underscore-dangle": 0,
        "object-curly-newline": 0,
        "no-plusplus": 0,
        "no-unused-expressions": 0,
        "no-unused-vars": 0,
        "global-require": 0,
        "@typescript-eslint/no-unused-vars": [
            "error", 
            { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }
        ],
        "import/no-extraneous-dependencies": 0
    },
    "env": {
        "browser": true,
        "mocha": true,
        "node": true
    }
}