{
    "extends": "airbnb-base",
    "parser": "@typescript-eslint/parser",
    "plugins": [ "import", "@typescript-eslint" ],
    "settings": {
      "import/resolver": {
        "node": {
          "paths": ["packages"],
          "extensions": [".ts", ".spec.ts"]
        }
      }
    },
    "rules": {
        "no-bitwise": 0,
        "linebreak-style": 1,
        "no-underscore-dangle": 0,
        "object-curly-newline": 0,
        "no-plusplus": 0,
        "no-unused-expressions": 0,
        "guard-for-in": 0,
        "no-mixed-operators": 0,
        "no-param-reassign": 0,
        "arrow-parens": [2, "as-needed"],
        "import/prefer-default-export": 0,
        "no-continue": 0,
        "no-unused-vars": 0,
        "global-require": 0,
        "max-len": [1, 140],
        "@typescript-eslint/no-unused-vars": [
            "error", 
            { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }
        ],
        "import/no-extraneous-dependencies": 0
    },
    "env": {
        "browser": true,
        "jest": true,
        "node": true
    }
}